APP_ENV=local
APP_DEBUG=true
APP_NAME=laravel
APP_URL=http://localhost
APP_KEY="base64:I8bsQrjZSuCz7vU58j2ncSZm8NmuJr8Leus0b4N8Mfo="

LOG_LEVEL=debug
LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=laravel_test
DB_USERNAME=database
DB_PASSWORD="Sina1378##"

CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
BROADCAST_DRIVER=log
QUEUE_CONNECTION=sync
FILESYSTEM_DRIVER=local

MEMCACHED_HOST=127.0.0.1

DAY_TOKEN_EXPIR=90

ROLE_USER_ID="5246f14d-1906-4e34-a412-8fb689d20f23"
ROLE_ADMIN_ID="791d1b02-3610-4177-9051-eb7ae6b72def"
USER_ADMIN_ID="56194f1c-1398-44f0-87cd-c34d2356eeaf"

ZARINPAL_MERCHSNTID=

TELEGRAM_KEY_LOG=
TELEGRAM_KEY_PAY=
TELE_CHAT_ID_LOG=
TELE_CHAT_ID_PAY=

SCRIBE_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ91iAVvZjwus.zdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRlAbjg3wped7eWZK.7SOmNVwhdducsM1rnSg962wjw2022111P5LurVbeLgatvA2611fjhj73Ae8riw4G1fQ1r2rI77LTN2r47NfvH1108frTh7PrfNg26dsSPHkjNiyxt7rFMW6pQWre72e51ePwYeQlltgVqVDi"
DOCS_AUTH_TIMEOUT_SECONDS=1800