<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On
</IfModule>

<IfModule mod_rewrite.c>
    RewriteCond %{REQUEST_URI} ^/(css|js|images|ico|upload)
    RewriteRule ^js/(.*)$ public/js/$1 [L]
    RewriteRule ^css/(.*)$ public/css/$1 [L]
    RewriteRule ^upload/(.*)$ public/upload/$1 [L]
    RewriteRule ^public/(.*)$ public/upload/$1 [L]
    RewriteRule ^(.*)$ public/$1 [L]
    RewriteCond %{REQUEST_URI} !^/public/(upload|css|js|ico)/
    RewriteCond %{REQUEST_URI} !index.php
    RewriteCond %{REQUEST_FILENAME} !-f [OR]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^.*$ public/index.php
</IfModule>